<!DOCTYPE html>
<html lang="en-EN"  class="bg-black">
<head>
<title>Doctor Hospital Dev CMS</title>
<link rel="stylesheet" href="../css/bootstrap.min.css">
<link rel='stylesheet' href='../../css/font-awesome.min.css' />
    <link rel='stylesheet' href='../css/AdminLTE.css' />
</head>
