</aside>
<!-- /.right-side-->
</div>
<!-- ./wrapper-->

<!-- /.content-->

<script>
    $(document).ready(function() {
        $('#datatable').dataTable({
            responsive: true
            , "pageLength": 100
        });
//        $('#date-picker').();
    });
</script>

</body>
</html>