<html>
<head prefix="og: http://ogp.me/ns#    fb: http://ogp.me/ns/fb#    game: http://ogp.me/ns/game#">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta property="og:type" content="game"/>
    <meta property="og:title" content="Food Voyage"/>
    <meta property="og:site_name" content="foodvoyage"/>
    <meta property="og:url" content="https://foodvoyage.imsoft.vn/invite/<%inviteInfo.ref_code%>"/>
    <meta property="og:image" content="https://foodvoyage.imsoft.vn/imgs/invite_image.png"/>
    <meta property="og:description" content="Spin, attack and build your empire!"/>
    <meta property="og:image:width" content="300px" />
    <meta property="og:image:height" content="300px" />
    <meta property="fb:app_id" content="304089383868201" />
    <meta property="al:android:package" content="com.colorgame.foodvoyage" />
    <meta property="al:android:app_name" content="Food Voyage" />
    <meta property="al:android:url" content="https://foodvoyage.page.link/viKRgq1hL1obe2Vm7" />
    <meta property="al:ios:url" content="https://foodvoyage.page.link/viKRgq1hL1obe2Vm7" />
    <meta property="al:ios:app_store_id" content="1468882189" />
    <meta property="al:ios:app_name" content="Food Voyage" />
    <meta property="al:web:should_fallback" content="true" />
    <meta property="al:web:url" content="https://foodvoyage.page.link/viKRgq1hL1obe2Vm7" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@yourtag" />
    <meta name="twitter:creator" content="@yourtag" />
    <meta name="twitter:title" content="'+ data.title +'" />

    <style type="text/css">
        .mainDiv {
            max-height: 700px;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        h1 {
            color: rgb(60, 41, 47);
            font-size: 35pt;
            max-width: 420px;
        }

        @media only screen and (max-width: 1024px) {
            h1 {
                font-size: 30pt;
            }
        }

        @media only screen and (max-width: 768px) {
            h1 {
                font-size: 30pt;
            }
        }

        @media only screen and (max-width: 414px) {
            h1 {
                font-size: 26pt;
            }

            .mainIcon {
                width: 200px;
            }
        }

        @media only screen and (max-width: 375px) {
            h1 {
                font-size: 26pt;
            }

            .mainIcon {
                width: 200px;
            }
        }

        @media only screen and (max-width: 360px) {
            h1 {
                font-size: 25pt;
            }

            .mainIcon {
                width: 200px;
            }
        }

        @media only screen and (max-width: 320px) {
            h1 {
                font-size: 22pt;
            }

            .mainIcon {
                width: 200px;
            }
        }</style>
    <!-- <script>window.onload = function () {
            setTimeout(function () {
                document.location = "https://foodvoyage.page.link/viKRgq1hL1obe2Vm7";
                  //  <%inviteInfo.short_link||"https://foodvoyage.page.link/viKRgq1hL1obe2Vm7" %>"
            }, 250);

            
        };</script> -->
    <title>Coin Master</title></head>
<body>
<div class="mainDiv" align="center"><h1>You have received a Friend Request!</h1>
    <div><img class="mainIcon" src="https://static.moonactive.net/open_graph/CoinMaster/Invite/invite_image.png"/></div>
    <div><a href="https://foodvoyage.page.link/viKRgq1hL1obe2Vm7"><img
                    src="https://static.moonactive.net/open_graph/CoinMaster/Invite/google_play_logo.png"/></a></div>
    <div><a href="https://itunes.apple.com/us/app/id1468882189"><img
                    src="https://static.moonactive.net/open_graph/CoinMaster/Invite/appstore_logo.png"/></a></div>
</div>
</body>
</html>